# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# local env files
.env
.env.local
.env.*.local

# caches
.turbo/
.eslintcache
*.tsbuildinfo

# editors and system files
.DS_Store
**/.DS_Store
.idea/
.vscode/
*.pem

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# deployment
.vercel
